<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }}</title>
</head>
<body>
    <div id="content">
        <h2> {{ heading_1 }}</h2>
        <h2>HTML Image</h2>
        <img src= {{ logo_image }} >
        <p>{{ paragraph_1 }}</p>
        <p>{{ paragraph_2 }}</p>
    </div>
</body>
</html>