<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }}</title>
</head>
<body>
    <div id="content">
    <img src= {{ logo_image }} >
    <h5>
        Dear {{ parent_name }},<br>
        <br>
        We hope {{ child_name }} has started using Disney.BYJU'S Early Learn program and is enjoying it.<br>
        <br>
        To make {{ child_name}}'s experience fun and effective, we have created a customized Learning Plan.<br>
        <br>
        This simple and fun plan will help Pranav kotule understand Math and English concepts in an easy<br>
        <br>
        and better way. Pranav kotule can start using the plan as soon as the workbooks are delivered.<br>
        <br>
        Please reach out to us on {{ phone_number }} or write to us at dev@devteam.com in case<br>
        <br>
        you have any queries or need assistance in using this plan.<br>
        <br>
        Warm Regards,<br>
        Team Development
    </h5>
    </div>
</body>
</html>